body {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(250, 159, 159) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 40px;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    gap: 40px;
}

.logo img {
    height: clamp(60px, 12vw, 150px);
    cursor: pointer;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.icon {
    height: 60px;
    padding-right: 10px;
}

.nav-links a {
    display: flex;
    align-items: center;
    padding-left: 40px;
    text-decoration: none;
    text-align: right;
    font-size: clamp(18px, 2.2vw, 30px);
    font-weight: 800;
    color: black;
    transition: transform 0.2s ease;
}

.nav-links a:hover {
    text-decoration: underline;
    transform: scale(1.05);
    color: #ff0037
}

.bttn {
    display: flex;
    align-items: center;
    gap: 3px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #FFB8E0;
    color: #ffffff;
    font-size: clamp(18px, 2.2vw, 30px);
    padding: clamp(6px, 1vw, 10px) clamp(12px, 2vw, 15px);
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.2s ease;
}

.bttn:hover {
    text-decoration: underline;
    transform: scale(1.05);
    box-shadow: 0 4px 10px #EC7FA9;
    color: #ff0037;
}
.footer {
    background-color: #CD2C58;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.footer-left img {
    height: clamp(60px, 12vw, 150px);
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.footer-left,
.footer-right,
.footer-legal {
    padding: 0;
    flex: 1;
    min-width: 100px;
    text-align: center;
}

.footer-left h4 {
    font-weight: 600;
    font-size: 20px;
    opacity: 0.8;
    max-width: 300px;
    margin: 10px auto 0;
    text-align: center;
}


.footer-right h1,
.footer-legal h1 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.footer-right h3:hover,
.footer-legal li a:hover {
    text-decoration: underline;
    transform: scale(1.05);
    cursor: pointer;
}

.social-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
    margin: 5px 0;
}

.social-links a:hover {
    text-decoration: underline;
    transform: scale(1.05);
    cursor: pointer;
}

.footer-legal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-legal li {
    margin-bottom: 5px;
}

.footer-legal li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.footer-bottom {
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}